In [28]:
import psycopg2

In [29]:
conn = psycopg2.connect(host="localhost", database="postgres", user="postgres", password="root")
conn.autocommit = True

In [30]:
cursor = conn.cursor()
cursor.execute("select * from inventory")
results = cursor.fetchall()
for row in results:
    print(row)

In [31]:
cursor = conn.cursor()
cursor.execute("""
SELECT stores.store_id,
       100.0 * SUM(sales.units) / (SUM(sales.units) + SUM(inventory.stock_on_hand)) AS sales_proportion
FROM sales
JOIN stores ON sales.store_id = stores.store_id
JOIN inventory ON stores.store_id = inventory.store_id AND sales.product_id = inventory.product_id
GROUP BY stores.store_id;
""")
sales_proportions = cursor.fetchall()

print("Proportion of sales per inventory:")
for store_id, proportion in sales_proportions:
    print(f"Store name: {store_name}, Proportion: {proportion:.2f}%")

Proportion of sales per inventory:

In [13]:

cursor = conn.cursor()
cursor.execute("""
SELECT YEAR(sale_date) AS year,
       QUARTER(sale_date) AS quarter,
       SUM(sales.quantity * products.price) AS total_sales
FROM sales
JOIN products ON sales.product_id = products.product_id
GROUP BY YEAR(sale_date), QUARTER(sale_date);
""")
sales_per_quarter_per_year = cursor.fetchall()

# Print results with formatting
print("Sales per quarter per year:")
for year, quarter, total_sales in sales_per_quarter_per_year:
    # Convert quarter number to human-readable format
    quarter_name = ["Q1", "Q2", "Q3", "Q4"][quarter - 1]
    print(f"Year: {year}, Quarter: {quarter_name}, Total Sales: {total_sales}")

UndefinedColumn: column sales.product_id does not exist
LINE 6: JOIN products ON sales.product_id = products.product_id
                         ^

In [ ]:
cursor.close()
conn.close()

In [8]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         50 non-null     int64
 1   store_name       50 non-null     object
 2   store_city       50 non-null     object
 3   store_location   50 non-null     object
 4   store_open_date  50 non-null     object
 5   year_operation   50 non-null     int64
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [9]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829262 entries, 0 to 829261
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sale_id     829262 non-null  int64
 1   date        829262 non-null  object
 2   store_id    829262 non-null  int64
 3   product_id  829262 non-null  int64
 4   units       829262 non-null  int64
 5   year        829262 non-null  int64
 6   quarter     829262 non-null  int64
 7   month       829262 non-null  int64
dtypes: int64(7), object(1)
memory usage: 50.6+ MB

In [10]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1593 entries, 0 to 1592
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   store_id       1593 non-null   int64
 1   product_id     1593 non-null   int64
 2   stock_on_hand  1593 non-null   int64
dtypes: int64(3)
memory usage: 37.5 KB

In [7]:
import pandas as pd


stores= pd.read_csv('final data/cleaned_stores.csv')
products = pd.read_csv('final data/cleaned_product.csv')
sales = pd.read_csv('final data/cleaned_sales.csv')
inventory = pd.read_csv('final data/cleaned_inventory.csv')

In [ ]:
sales

In [ ]:
stores

In [ ]:
inventory

In [ ]:
where inventory.product
sales per product sum * 100 / sum inventory & quantity sold